.headerlinks{
    text-decoration: none;
    color: black;

}


@media (max-width:500px){
    .cartwish{
        margin-right: 10px;
    }
   

}

@media(max-width:483px){
    .cartwish{
        position: relative;
        bottom: 25px;
        left: 15px;
    }
}


@media (max-width:470px){

    .header-main{
        margin-left: 30px;
    }
    .cartwish{
       position: relative;
       left: 5px;
    }
}

@media (max-width:460px){


    .cartwish{
       position: relative;
       left: 30px;
      
    }
}

@media (max-width:425px){
    .cartwish{
        margin-right: -0px;
    }
}
@media (max-width:400px){
    .cartwish{
        
    }
}

@media (max-width:385px){
    .cartwish{
        margin-right: -100px;
    }
}