.produt-listing{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

@media  (max-width:550px)   {
    .produt-listing{
        margin-left: 60px;
    }
    
}

@media (max-width:500px){
    .produc{
       
        margin-left: 50px;
       
    }
}

@media (max-width:480px){
    .produc{
       
        align-items: center;
        justify-content: center;
        margin-left: 30px;
       
    }
}

@media (max-width:470px){
    .produc{
       
       position: relative;
       left: 20px;
       
    }
    .produt-listing{
        margin-left: 40px;
    }
}


