.produt-listing{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

@media  (max-width:550px)   {
    .produt-listing{
        margin-left: 60px;
    }
    
}



